body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body button {
  cursor: pointer;
  border: none;
}

body button:focus {
  border: none;
  outline: none;
}

.App {
  max-width: 900px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 1rem;
}

.App header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.App header .face {
  border-radius: 10px;
  -webkit-box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  max-width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100px;
  height: 100px;
}

.App header .name-container {
  text-align: center;
}

.App header .name-container h1,
.App header .name-container p {
  margin: 0;
}

.App header .btn-download,
.App header .btn-languaje {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 30px;
}

.App header .btn-download:hover,
.App header .btn-languaje:hover {
  -webkit-box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.App header .btn-download:active,
.App header .btn-languaje:active {
  -webkit-box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.App section .block-container {
  margin: 10px 0;
  padding: 1rem 1.3rem;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px #d9d9d9, -1px -1px 5px #fff;
          box-shadow: 1px 1px 5px #d9d9d9, -1px -1px 5px #fff;
}

.App section .block-container h2 {
  margin: 0;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.App section .block-container .spill-container {
  margin: 0.5rem 0;
}

.App section .block-container .spill-container h4 {
  margin: 0;
}

.App section .block-container .spill-container span,
.App section .block-container .spill-container a {
  text-decoration: none;
  font-size: 0.93em;
  color: grey;
}

.App section .block-container .habilities-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.App section .progress-container h4 {
  margin: 0;
}

.App section .progress-container .progress-bar {
  margin: 5px 0;
  height: 10px;
  border-radius: 10px;
  background-color: #bbba;
  width: 100%;
}

.App section .progress-container .progress-bar .filled {
  background-color: black;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .App header .face {
    display: none;
  }
  .App header .btn-container {
    position: fixed;
    top: 50%;
    right: 5%;
  }
}

@media print {
  body {
    font-size: 15px;
  }
  .App {
    margin: 2rem auto 0;
    padding: 0 2rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .App header .btn-download {
    display: none;
  }
  .App section h2,
  .App section h3,
  .App section h4,
  .App section h5 {
    font-weight: normal;
  }
  .App section .habilities-container .progress-container .progress-bar {
    height: 5px;
  }
  .App section .progress-container {
    -webkit-print-color-adjust: exact;
    /*economy | exact*/
    color-adjust: exact;
  }
  .App section .break {
    page-break-before: always;
  }
}
/*# sourceMappingURL=global.css.map */